<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet" />
    <title>comroom</title>
</head>

<body>
    <div id="app">
        <header>
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <h1>{{ sitename }}</h1>
                </div>
                <div class="nav navbar-nav navbar-right cart">
                    <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
              <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span>
              <span>체크아웃</span>
            </button>
                </div>
            </div>
        </header>
        <main>
            <div class="row product">
                <div v-if="showProduct">
                    <div class="col-md-2 col-md-offset-1">
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                    </div>
                    <div class="col-md-6 col-md-offset-2 description">
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p class="price">
                            {{product.price | formatPrice}}
                        </p>
                        <button class="btn btn-primary btn-lg" v-on:click="addToCart" v-if="canAddToCart">장바구니 담기
              </button>
                        <button disabled="true" class="btn btn-primary btn-lg" v-else>장바구니 담기
              </button>
                    </div>
                </div>
                <div v-else>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-info">
                            <div class="panel-heading">check out</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4><strong>input information</strong></h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <strong>이름:</strong>
                                        <input v-model.trim.lazy="order.firstName" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <strong>성:</strong>
                                        <input v-model.trim="order.lastName" class="form-control">
                                    </div>


                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <strong>주소:</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" v-model.trim="order.address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <strong>도시:</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" v-model.trim="order.city">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <strong>주:</strong>
                                        <select v-model="order.state" class="form-control">
                                            <option disabled value="">주</option>
                                            <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <strong>우편번호:</strong>
                                        <input type="number" v-model.number="order.zip" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 boxes">
                                        <input type="checkbox" id='gift' value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                                        <label for="gift">send gift</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 boxes">
                                        <input type="radio" id="home" v-bind:value="order.home" v-model='order.method'>
                                        <label for="home">home</label>
                                        <input type="radio" id="business" v-bind:value="order.business" v-model="order.method">
                                        <label for="business">business</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">Order</button>
                                    </div>
                                </div>
                                <div class="col-md-12 verify">
                                    <pre>
                                        이름: {{order.firstName}}
                                        성: {{order.lastName}}
                                        주소: {{order.address}}
                                        도시: {{order.city}}
                                        우편번호: {{order.zip}}
                                        주: {{order.state}}
                                        주소지: {{order.method}}
                                        선물: {{order.gift}}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->

        </main>
        <!--end of main-->

    </div>
    <script type="text/javascript" src="study_script.js">
    </script>
</body>

</html>